$green: #3eb59e;
$grey: #cecece;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix {
	overflow: auto;
	zoom: 1;
}
body {
	padding: 160px 140px;
	font-size: 32px;
	color: black;
	font-family: Arial;
}
a {
	color: #ee6558;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: bold;
}
select {
	width: 100%;
	padding: 20px;
    font-size: 36px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid $grey;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* W3C */
    outline: none !important;
}
h1 {
	font-size: 56px;
}
h4 {
	font-size: 36px;
	margin-bottom: 20px;
}
p {
	margin-bottom: 35px;
}
input[type="radio"] {
	display: none;
	&:checked + .fake {
	    background-position: 0 0;
	}

	+ .fake {
	    display: inline-block;
	    width: 40px;
	    height: 40px;
	    vertical-align: middle;
	    background: url("../images/radio.png") 40px 0;
	    cursor: pointer;
	    margin-top: -6px;
	}
}

.header {
	background: $green url('../images/logo.png') no-repeat right center;
	color: white;
	padding: 50px 35px;
}
.main {
	background: #f1f1ed;
	padding: 60px 40px;
}
.feed {
	@extend .clearfix;
	background: white;
	padding: 55px 50px;

	img {
		float: left;
		margin-right: 40px;
		width: 240px;
		height: auto;
	}
}

.display-options {
	@extend .clearfix;

	margin: {
		top: 90px;
		bottom: 30px;
	}
	border: {
		top: 1px solid $grey;
		bottom: 1px solid $grey;
	}
	padding: 45px 0 35px;

	.sort, .number {
		float: left;
		width: 50%;
	}
	.sort {
		padding-right: 20px;
	}
	.number {
		padding-left: 20px;
	}
}
.items {
	border-bottom: 1px solid $grey;
	padding-bottom: 30px;
	margin-bottom: 50px;

	.item {
		@extend .clearfix;
		padding: 35px 35px 45px 0;
		cursor: pointer;

		&:hover {
			background: #f8f8f6;
			color: $green;
		}

		img {
			float: left;
			margin-right: 40px;
			width: 285px;
			height: auto;
		}
	}
}
.paging {
	position: relative;
	text-align: center;
	height: 40px;

	.prev {
		position: absolute;
		left: 0;
	}
	.next {
		position: absolute;
		right: 0;
	}
}

@media (max-width: 1480px) {
	body {
		padding: 60px;
	}
}
@media (max-width: 1024px) {
	body {
		padding: 20px;
		font-size: 30px;
	}
	h1 {
		font-size: 46px;
	}
	h4 {
		font-size: 30px;
	}
	a {
		font-size: 24px;
	}
	.feed {
		padding: 20px;
	}
	.feed img, .items .item img {
		margin-right: 20px;
	}
}
@media (max-width: 768px) {
	body {
		font-size: 20px;
		padding: 0;
	}
	h1 {
	    font-size: 22px;
	}
	h4 {
	    font-size: 20px;
	}
	a {
	    font-size: 14px;
	}
	select {
		font-size: 20px;
	}
	.header, .main {
		padding: 20px;
	}
	.header {
		background-size: 152px 30px;
	}
	.feed img, .items .item img {
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
		height: auto;
		float: none;
	}
	.items .item {
		padding: 0;
	}
	.display-options {
	    margin-top: 20px;
	    padding: 20px 0;
	    .sort, .number {
		    float: none;
		    width: 100%;
		    padding: 0;
		}
		.sort {
			margin-bottom: 20px;
		}
	}
	input[type="radio"] + .fake {
		width: 20px;
		height: 20px;
		background-size: 40px 20px;
		background-position: 20px 0;
	}
}








