<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Home Made - Latest News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="homemade">
    <div class="header">
        <h1>Latest News</h1>
    </div> 
    <div ng-controller="PageCtrl as pageCtrl" class="main">
        <select ng-model="category" ng-options="category.name for category in categories">
            <option value=''>Select a category</option>
        </select>
        <select ng-model="feed" ng-options="feed.name for feed in category.feeds">
            <option value=''>Select a feed</option>
        </select>
        <div class="feed" ng-if="feed.description">
            <img src="https://placehold.it/300x300">
            <h4>{{feed.title}}</h4>
            <p>{{feed.description}}</p>
            <a href="{{feed.link}}" target="_blank">View Feed &gt;</a>
        </div>
        <div class="display-options">
            <div class="sort">
                <h4>Sort order:</h4>
                <select ng-model="sort">
                    <option value='publishedDate'>Date</option>
                    <option value='title'>Title</option>
                </select>
            </div>
            <div class="number">
                <h4>Items per page:</h4>
                <label><input type="radio" value="5" ng-model="pageSize"><span class="fake"></span> 5 </label>
                <label><input type="radio" value="10" ng-model="pageSize"><span class="fake"></span> 10 </label>
                <label><input type="radio" value="20" ng-model="pageSize"><span class="fake"></span> 20</label>
            </div>
        </div>
        <span ng-if="!feed">Please select a feed</span>
        <div class="items">
            <div class="item" ng-repeat="item in items | startFrom:(page-1)*pageSize | limitTo:pageSize | orderBy: sort" ng-click="pageCtrl.openLink(item.link)">
                <img src="https://placehold.it/300x300">
                <h4>{{item.title}}</h4>
                <p>{{item.content}}</p>
            </div>
        </div>
        <div class="paging">
            <span ng-show="pages">{{page}}/{{pages}}</span>
            <a href="#" class="prev" ng-show="page>1" ng-click="page=page-1">&lt; Previous</a>
            <a href="#" class="next" ng-show="pages>page" ng-click="page=page+1">Next &gt;</a>
        </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js" type="text/javascript"></script>
    <script src="js/app.min.js" type="text/javascript"></script>
</body>
</html>